{% extends 'base.html' %}

{% block body %}


<h1 style="text-align:center;">{PlaceName}</h1>
<p style="text-align:center;">{LocationAddress}</p>

<br>

<p style="text-align:center;"> 
<img src="https://image.flaticon.com/icons/svg/25/25186.svg" alt="eye" width="30" height="30"><&nbsp><&nbsp><img src="https://image.flaticon.com/icons/svg/1512/1512684.svg" alt="ear" width="30" height="30"><&nbsp><&nbsp><img src="https://image.flaticon.com/icons/svg/73/73412.svg" alt="wheelchair" width="30" height="30"></p>

<p style="text-align:center;">{Eye_C}<&nbsp>{Ear_C}<&nbsp>{Wheel_C}</p>


<br>

<p style="text-align:center;"> <button>Add a review</button> </p>


<table style="width:100%">

  <tr>
    <th>Reviews</th>
  </tr>
  <tr>
    <td>{I love this place it is awesome!}</td>
  </tr>
</table>


{% endblock %}
